{% extends 'Postik/wrapper.html' %}

{% block title %}
    Creating Posts
{% endblock %}


{% block body %}
    <h2>Create Posts</h2>
    <!--
        action="/postik/"  it was my bad - big problem and time I lose when write this here, because in views.py 
        i solve it, Why I write again ?
    -->
    <form method="POST" class="form">
        {% csrf_token %}

        <p>Name of post: </p>
        <input type="text" name="NamePost" maxlength="100">
        <p>Text of post: </p>
        <input type="text" name="TextPost" maxlength="2000">
        <p>ConfirmId(needed for changing or removing): </p>
        <input type="text" name="ConfirmId" maxlength="15">
        <p>
          <div>
            <input type="submit" value="Add">
          </div>
        </p>

        
    </form>
   
  <!--  
    <p><a href="see_posts"><input type="button" value="See Posts"></a></p>
    <p><a href="change_post"><input type="button" value="Change Posts"></a></p>
    <p><a href="remove_post"><input type="button" value="Remove Posts"></a></p>
  -->

{% endblock %}
       