<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    {% endblock %}
    {% load bootstrap3 %}
        <script src="{% bootstrap_jquery_url %}"></script>
        {% bootstrap_javascript %}
        {% bootstrap_css %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        Document
        {% endblock %}
    </title>

</head>
<body>
    {% block header %}
    <div class="breadcrumbs" id="breadcrumbs">
        <!-- breadcrumb --><ol class="breadcrumb">
        <li><a href="https://bootstraptema.ru/"><span>Главная</span></a></li>
        <li><a href="/stuff/templates_bootstrap/1"><span>Шаблоны Bootstrap</span></a></li>
        <li><a href="/stuff/templates_bootstrap/shop/7"><span>Магазин</span></a></li>
        <li class="active">Startapp</li>
        <li><span class="input-icon">
            <input type="text" name="q" placeholder="Ищем..." class="nav-search-input queryField" 
            id="nav-search-input" autocomplete="off"></li>
    </ol>
        
        </div>
    {% endblock %}
   


    <div class="container-fluid">
        <div class="row row-no-gutters">
            <div class="col-lg-2 bg-info" >
                right
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-5">
                    {% block body %}
                    {% endblock %}
                    </div>
                    <div class="col-lg-4"></div>
                </div>
            </div>
            <div class="col-lg-2 bg-info">
                left
            </div>
            
        </div>
      </div>
    
    {% block footer %}
    {% endblock %}
</body>
</html>